<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="left-part">
                        <ul class="footer-menu d-flex flex-wrap">
                            <li><a href="#">Brains</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Playground</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                        <ul class="social-media d-flex flex-wrap">
                            <li>
                                <a href="#"><img class="img-fluid" src="assets/img/LinkedIn.png" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img class="img-fluid" src="assets/img/Facebook.png" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img class="img-fluid" src="assets/img/Twitter.png" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="right-part">
                        <h3>Location</h3>
                        <p>Polynomial Pte Ltd, 5001 Beach Road, #08-11 Golden Mile Complex, Singapore 199588</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center mb-0">&#9400; 2021 polynomial.ai</p>
        </div>
    </div>
</footer>