<app-header></app-header>
<!-- home - hero section -->
<div class="layer-section hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="img-wrap">
                    <img class="img-fluid" src="assets/img/Create-AdvancedUnstructured-DataUnderstanding.png" alt="vector image">
                </div>
            </div>
            <div class="col-md-7">
                <div class="title-with-text-wrap">
                    <h2>Create Advanced Unstructured Data Understanding</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="btn btn-outline" href="#">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cognitive cores -->
<div class="layer-section cognitive-cores-section grey-bg">
    <div class="container text-center">
        <div class="title-with-text-wrap">
            <h2>Cognitive cores</h2>
        </div>
        <div class="row cognitive-cores-row">
            <div class="col-md-2">
                <div class="cores-item">
                    <span class="cores-icon"><img width="66px" class="img-fluid" src="assets/img/Domain-specific-aspect.png" alt="icon"></span>
                    <h5>Domain specific aspect</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cores-item">
                    <span class="cores-icon"><img width="71px" class="img-fluid" src="assets/img/Emotion-and-Sentiment.png" alt="icon"></span>
                    <h5>Emotion and Sentiment</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cores-item">
                    <span class="cores-icon"><img width="59" class="img-fluid" src="assets/img/User-persona.png" alt="icon"></span>
                    <h5>User persona</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cores-item">
                    <span class="cores-icon"><img width="91" class="img-fluid" src="assets/img/Tone-and-SarcasmPolarity.png" alt="icon"></span>
                    <h5>Tone and Sarcasm Polarity</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cores-item">
                    <span class="cores-icon"><img width="52" class="img-fluid" src="assets/img/Generic-aspect.png" alt="icon"></span>
                    <h5>Generic aspect</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="layer-section features-section">

    <div class="title-with-text-wrap text-center">
        <div class="container">
            <h2>Features</h2>
        </div>
    </div>

    <div class="features-row-items">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-6">
                    <div class="img-wrap">
                        <img width="700px" class="img-fluid" src="assets/img/Starter-Kit.png" alt="vector image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-with-text-wrap">
                        <h3>Starter Kit</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown.</p>
                        <ul>
                            <li>Meeting insights</li>
                            <li>Comment analytics</li>
                            <li>Starter 1</li>
                            <li>Starter 2</li>
                            <li>Starter 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-row-items">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-6">
                    <div class="img-wrap">
                        <img width="792px" class="img-fluid" src="assets/img/Agent-Management.png" alt="vector image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-with-text-wrap lhs">
                        <h3>Agent Management</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-row-items">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-6">
                    <div class="img-wrap">
                        <img width="760px" class="img-fluid" src="assets/img/Update-Analytics.png" alt="vector image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title-with-text-wrap rhs">
                        <h3>Update Analytics</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- See it in action -->
<div class="see-action">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">See it in action</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Select One or More Brains</h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="brains-slider">
                    <div class="brains-slider-inner">
                        <a href="#">Emotion and Sentiment</a>
                    </div>
                    <div class="brains-slider-inner">
                        <a href="#">Domain specific aspect</a>
                    </div>
                    <div class="brains-slider-inner">
                        <a href="#">User persona</a>
                    </div>
                    <div class="brains-slider-inner">
                        <a href="#">Tone and Sarcasm Polarity</a>
                    </div>
                    <div class="brains-slider-inner">
                        <a href="#">Tone and Sarcasm Polarity</a>
                    </div>
                    <div class="brains-slider-inner">
                        <a href="#">User persona</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-3">Inputs</h4>
                <div class="input-box fancy-scroll mb-5">
                    <a href="#">Sample texts</a>
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book.Lorem Ipsum is simply dummy text of the printing industry.</a>
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book.Lorem Ipsum is simply dummy text of the printing industry.</a>
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book.Lorem Ipsum is simply dummy text of the printing industry.</a>
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book.Lorem Ipsum is simply dummy text of the printing industry.</a>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline btn-blue">try it</a>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Understanding</h4>
                <div class="understanding-box fancy-scroll mb-5">

                </div>
                <div class="text-center">
                    <a class="btn btn-outline">Raw Response</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stories -->
<div class="stories">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">Stories</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="stories-slider">
                    <div class="stories-slider-inner">
                        <div class="d-flex">
                            <div class="stories-img">
                                <img src="assets/img/user-male.png" />
                            </div>
                            <div class="company-icon">
                                <div class="company-img">
                                    <img src="assets/img/comply-icon.jpg" />
                                </div>
                                <span>Colive</span>
                            </div>
                            <div class="stories-content">
                                <h5>Emma <span>CEO, August 2020</span></h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                    a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="stories-slider-inner">
                        <div class="d-flex">
                            <div class="stories-img">
                                <img src="assets/img/user-male.png" />
                            </div>
                            <div class="company-icon">
                                <div class="company-img">
                                    <img src="assets/img/comply-icon.jpg" />
                                </div>
                                <span>Colive</span>
                            </div>
                            <div class="stories-content">
                                <h5>2 Emma <span>CEO, August 2020</span></h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                    a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="stories-slider-inner">
                        <div class="d-flex">
                            <div class="stories-img">
                                <img src="assets/img/user-male.png" />
                            </div>
                            <div class="company-icon">
                                <div class="company-img">
                                    <img src="assets/img/comply-icon.jpg" />
                                </div>
                                <span>Colive</span>
                            </div>
                            <div class="stories-content">
                                <h5>3 Emma <span>CEO, August 2020</span></h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummytext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                    a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing
                                    and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing  -->
<div class="pricing">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">Pricing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-box">
                    <h3>Industrial</h3>
                    <div class="amount text-center"><span class="pricing-amount">$30</span><span class="plan-month d-block">Per month</span></div>
                    <ul class="pricing-plan">
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png"> Agent creation</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Add brains</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Playground</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Generate dashboard</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_2.png">Customer support</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-box">
                    <h3>Industrial</h3>
                    <div class="amount text-center"><span class="pricing-amount">$45</span><span class="plan-month d-block">Per month</span></div>
                    <ul class="pricing-plan">
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Agent creation</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Add brains</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Playground</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Generate dashboard</li>
                        <li><img class="img-fluid" src="assets/img/Pricing_list_1.png">Customer support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-12">
                <a class="btn btn-outline">GET STARTED</a>
            </div>
        </div>
    </div>
</div>

<!-- Contact Form -->
<div class="contact-form">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="text-center">Want to discuss with us?</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/img/Want-to-discuss-with-us.png" alt="" />
            </div>
            <div class="col-md-6">
                <form class="contact-us-form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="BusinessEmail" placeholder="Business Email ID">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="CompanyName" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea type="text" class="form-control" id="DescribeUse" placeholder="Describe Use case" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-row submit-button">
                        <div class="form-group col-md-12">
                            <a class="btn btn-outline">Send</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>